@font-face{
  font-family: 'Oxygen-Light';
  src: url('../../fonts/Oxygen-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: 'Oxygen-Bold';
  src: url('../../fonts/Oxygen-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: 'Lato-Bold';
  src: url('../../fonts/Lato-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: 'Lato-BoldItalic';
  src: url('../../fonts/Lato-BoldItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
