$base-font-family: 'Oxygen-Light', sans-serif;
$base-font-bold: 'Oxygen-Bold', sans-serif;
$lato-font: 'Lato-Bold', sans-serif;
$lato-italic: 'Lato-BoldItalic', sans-serif;

$base-font-size: 14px;
$sm-font-size: 12px;
$secondary-font-size: 18px;
$captions-font-size: 24px;
$captions-sections-size: 36px;

$base-line-height: 24px;
$captions-line-height: 35px;

$text-color-dark: #3b4954;
$link-text: #7d8a95;
$text-color-white: #fff;
$quote-brown-color: #c69c6d;

$header-bg-color: #000;
$footer-bg-color: #1f2a32;
$bg-dark-color: #474747;
$bg-second-light: #fff;
$bg-light-color: #ebf0f3;
$brand-color: #02baab;
$second-brand-color: #ffae00;
$visited-color: #6d0fae;


/** palette colors **/
$yellow: #ffae00;
$orange: #fc7100;
$pink: #e51c5e;
$violet: #ae0f8d;
$purple: #6d0fae;
$blue: #33227a;
$sky-blue: #0c8fcc;

